* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

hr {
  border: none;
  display: block;
  height: 1px;
  background-color: rgba(0, 0, 0, .12);
}

button {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid transparent;
  outline: none;
}

/* UTILITIES */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.breathing {
  margin: 0 8px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.max-100-percent,
.max-100-percent img {
  max-width: 100%;
}
